Bpel/CiceroEdnilsonAplication/CalcularService/SOA/WSDLs/ICalcularDesconto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="ICalcularDesconto"
     targetNamespace="http://ciceroednilson.com.br/"
     xmlns:tns="http://ciceroednilson.com.br/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:ns0="http://ciceroednilson.com.br/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://ciceroednilson.com.br/types">
            <xsd:complexType name="calcularRequest">
                <xsd:sequence>
                    <xsd:element name="salario" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="calcularResponse">
                <xsd:sequence>
                    <xsd:element name="aliquotaCobrada" type="xsd:float"/>
                    <xsd:element name="salarioBruto" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="salarioComDesconto" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://ciceroednilson.com.br/" xmlns:tns="http://ciceroednilson.com.br/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ciceroednilson.com.br/types">
            <xsd:import namespace="http://ciceroednilson.com.br/types"/>
            <xsd:complexType name="calcular">
                <xsd:sequence>
                    <xsd:element name="arg0" type="ns1:calcularRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="calcular" type="tns:calcular"/>
            <xsd:complexType name="calcularResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:calcularResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="calcularResponse" type="tns:calcularResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="calcularInput">
        <wsdl:part name="parameters" element="tns:calcular"/>
    </wsdl:message>
    <wsdl:message name="calcularOutput">
        <wsdl:part name="parameters" element="tns:calcularResponse"/>
    </wsdl:message>
    <wsdl:portType name="ICalcularDesconto">
        <wsdl:operation name="calcular">
            <wsdl:input message="tns:calcularInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:calcularOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
